<a href="https://colab.research.google.com/github/CoderPug/Colab/blob/main/Ejercicio0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Samples from class

**1**

In [3]:
import pandas as pd
import statsmodels.api as sm

url = 'https://raw.githubusercontent.com/AlejandroPSJ2/Data_Mining/main/Clase1_example1.csv'
df = pd.read_csv(url)
df.head()

   N_pregnant  Plasma  ...  Age  Diabetes_future
0           6     148  ...   50                1
1           1      85  ...   31                0
2           8     183  ...   32                1
3           1      89  ...   21                0
4           0     137  ...   33                1

[5 rows x 9 columns]

In [4]:
dfx = df.copy()
dfx = dfx.drop(columns='Diabetes_future',axis=1)
dfx.head()

   N_pregnant  Plasma  Diastolic_pressure  ...   BMI  Diabetes_function  Age
0           6     148                  72  ...  33.6              0.627   50
1           1      85                  66  ...  26.6              0.351   31
2           8     183                  64  ...  23.3              0.672   32
3           1      89                  66  ...  28.1              0.167   21
4           0     137                  40  ...  43.1              2.288   33

[5 rows x 8 columns]

In [5]:
Y = df['Diabetes_future']
X = dfx
X = sm.add_constant(X)

mod = sm.Logit(Y,X)
res = mod.fit()

Optimization terminated successfully.
         Current function value: 0.470993
         Iterations 6

In [6]:
print(res.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:        Diabetes_future   No. Observations:                  768
Model:                          Logit   Df Residuals:                      759
Method:                           MLE   Df Model:                            8
Date:                Mon, 15 Feb 2021   Pseudo R-squ.:                  0.2718
Time:                        04:57:45   Log-Likelihood:                -361.72
converged:                       True   LL-Null:                       -496.74
Covariance Type:            nonrobust   LLR p-value:                 9.652e-54
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 -8.4047      0.717    -11.728      0.000      -9.809      -7.000
N_pregnant             0.1232      0.032      3.840      0.000       0.060       0.186
Plasma                 0.0352      0.004      9.481      0.000       0.028       0.042
Diastolic_pressure    -0.0133      0.005     -2.540      0.011      -0.024      -0.003
Triceps_thickness      0.0006      0.007      0.090      0.929      -0.013       0.014
Serum_insulin         -0.0012      0.001     -1.322      0.186      -0.003       0.001
BMI                    0.0897      0.015      5.945      0.000       0.060       0.119
Diabetes_function      0.9452      0.299      3.160      0.002       0.359       1.531
Age                    0.0149      0.009      1.593      0.111      -0.003       0.033
======================================================================================

**2**

In [8]:
import pandas as pd
import statsmodels.api as sm
url = 'https://raw.githubusercontent.com/AlejandroPSJ2/Data_Mining/main/Clase1_example2.csv'
df = pd.read_csv(url,sep=';')

df.head()

   Week  PRICE 12PK  PRICE 18PK  PRICE 30PK  CASES 12PK  CASES 18PK  CASES 30PK
0     1       19.98       14.10       15.19       223.5         439       55.00
1     2       19.98       18.65       15.19       215.0          98       66.75
2     3       19.98       18.65       13.87       227.5          70      242.00
3     4       19.98       18.65       12.83       244.5          52      488.50
4     5       19.98       18.65       13.16       313.5          64      308.75

In [10]:
Y = df['CASES 30PK']
X = df['PRICE 30PK']
X = sm.add_constant(X)

mod = sm.OLS(Y,X)
res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             CASES 30PK   R-squared:                       0.651
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     93.22
Date:                Mon, 15 Feb 2021   Prob (F-statistic):           5.17e-13
Time:                        05:00:19   Log-Likelihood:                -294.71
No. Observations:                  52   AIC:                             593.4
Df Residuals:                      50   BIC:                             597.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1887.2558    178.648     10.564      0.000    1528.431    2246.081
PRICE 30PK  -119.7708     12.405     -9.655      0.000    -144.687     -94.855
==============================================================================
Omnibus:                        9.964   Durbin-Watson:                   1.810
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               15.078
Skew:                           0.548   Prob(JB):                     0.000532
Kurtosis:                       5.400   Cond. No.                         261.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.